version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: neverland_backend
    env_file:
      - ./backend/.env
    ports:
      - "5100:5000"
    networks:
      - app-network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: neverland_frontend
    ports:
      - "8088:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge