services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: neverland_backend
    env_file:
      - ./backend/.env
    ports:
      - "7000:5000"
    networks:
      - app-network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: neverland_frontend
    ports:
      - "8188:8081"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge