services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: neverlandstore_backend
    env_file:
      - ./backend/.env
    ports:
      - "7100:5000"   # port baru aman
    networks:
      - app-network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: neverlandstore_frontend
    ports:
      - "8288:8081"   # port baru aman
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
