services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: neverlandstore_backend
    env_file:
      - ./backend/.env
    environment:
      NODE_ENV: production
      DB_HOST: mariadb_neverland
      DB_PORT: 3306
      DB_NAME: neverlandstore
      DB_USER: root
      DB_PASSWORD: root
    ports:
      - "5100:5000"
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: neverlandstore_frontend
    ports:
      - "8188:80"
      - "8443:443"
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    external: true
